body {
    padding: 0;
    margin: center;
    background:grey;
  }

  footer img {
    width:50%;
    height:30%; 
    margin-top: 150px;

  }

  p {
    font-size: 40px;
    margin-top: 70px;
    position: absolute;
  }

  .volver{
    position: relative;
    margin-top: 250px;
    font-size: 30px;
    padding: 10px 20px;
    margin:center;
    cursor: pointer;
    background-color: antiquewhite;
    transition: all ease 0.2s;
    border: 0;
    width: 300px;
    text-shadow:0 2px rgba(0, 0, 0,0.6);
    border-radius: 12px;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .volver:hover{
    background-color: #c39;
    color: blue;
    background-color: red;
  }
