.menu {
    text-align: center;
    width: 770px;
    height: 600px;
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu img {
    width: 50%;
    margin: 80px;
  }



button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: antiquewhite;
    transition: all ease 0.2s;
  }

  button:hover{
    background-color: #c39;
  }