body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

#game-canvas {
  background-color: #050000;
  border: 2px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid #666;
}

#score-container {
  text-align: left; /* Cambia a alineación izquierda */
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #f0f0f0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#score {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}

#return-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  color: grey;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-shadow:0 2px rgba(0, 0, 0,0.6);
  transition: box-shadow .1s, transformation;
  font-weight: bold;
  transition: all ease 0.2s;
}

#return-button:hover{
background-color: red;
color: blue;
box-shadow: 0px 0px 50px rgba(0,0,0, 1);

}



