
#game {
    border: 1px solid black;
    position: relative;
    width: 768px;
    height: 598px;
  }
  
  #pepe {
    background-image: url("");
    bottom: 0%;
    width: calc(105px / 4);
    height: 22px;
    background-color: blue;
    border: none;
    cursor: pointer;
    position: absolute;
    animation: sprite 0.5s steps(6) infinite, moves 5s ease-in-out infinite;
    -webkit-animation: sprite 0.5s steps(3) infinite,
      moves 5s ease-in-out infinite;
  }
  
  @keyframes sprite {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: 100px;
    }
  }
  
  @keyframes moves {
    0% {
      left: 0%;
    }
    48% {
      transform: rotateY(0deg);
    }
    50% {
      left: 96.5%;
      transform: rotateY(180deg);
    }
    98% {
      transform: rotateY(180deg);
    }
    100% {
      left: 0%;
      transform: rotateY(0deg);
    }
  }