*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: Courier, "Courier New", monospace;
  font-size: 2.5rem;
  color: #000;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
  grid-area: header;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}
.logo-principal {
  width: 60%;
  box-shadow: #000 1px;
}
.logo-energy {
  width: 35%;
}
.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.popo_info {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.popo_info p {
  font-weight: bolder;
  margin-bottom: 30px;
}
.popo_info .popo {
  margin: 2rem;
  height: 80px;
  width: 65px;
}
.popo_controles {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.popo_controles p {
  font-weight: bolder;
  margin-bottom: 10px;
}
.popo_controles h2 {
  font-size: 38px;
  margin-top: 80px;
}
.popo_controles img {
  width: 20%;
  height: 30%;
  margin: 50px;
}
.popo_controles ul {
  list-style: none;
  font-size: 38px;
  margin-bottom: 30px;
}
.popo_controles ul li {
  color: #c39;
  font-weight: bold;
}
.popo_controles ul li strong {
  color: black;
}

#game {
  width: 770px;
  height: 600px;
}

.menu {
  text-align: center;
  width: 770px;
  height: 600px;
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu img {
  width: 50%;
  margin: 80px;
}
